<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymelead/layout"
        layout:decorator="layouts/main">
>
<head>
    <title>Edit game</title>

</head>
<body>


<div layout:fragment="content">
    <br/>

    <div class="container">
        <br/>
        <ol class="breadcrumb">
            <li><a href="/admin/games">Manage games</a></li>
            <li class="active">Edit game form</li>
        </ol>
    </div>

    <div class="container">


        <div class="container">

            <h2>Edit game</h2>
            <br/>

            <div th:if="${message}" class="alert alert-danger" role="alert">
                <p th:text="${message}">message</p>
            </div>

            <form class="form-horizontal form-width" th:object="${game}" th:action="@{/admin/game/save}"
                  method="post">
                <input type="hidden" th:field="*{id}"/>
                <div th:class="form-group">
                    <label class="col-md-3 control-label">Competition</label>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <select class="form-control" th:field="*{competition}">
                                <option value=""></option>
                                <option th:each="competition : ${competitions}" th:value="${competition.id}"
                                        th:text="${competition.name}">competition
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div th:class="form-group">
                    <label class="col-md-3 control-label">Date</label>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <div class='input-group'>
                                <input type="text" class="form-control" id="datetimepicker5" th:field="*{date}"
                                       placeholder="dd/mm/yyyy"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:class="form-group">
                    <label class="col-md-3 control-label">Location</label>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <select class="form-control" th:field="*{location}">
                                <option value=""></option>
                                <option th:each="location : ${locations}" th:value="${location.id}"
                                        th:text="${location.field}">location
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div th:class="form-group" th:classappend="${#fields.hasErrors('teams')}? 'has-error'">
                    <label class="col-md-3 control-label">Teams <span class="required">*</span></label>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <select class="form-control" th:field="*{teams}">
                                <div>
                                <option value="">Select team</option>
                                <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}" th:selected="${team.id==idTeamA}? 'selected'">team A
                                </option>
                                </div>
                            </select>
                            <span th:if="${#fields.hasErrors('teams')}" th:errors="*{teams}"
                                  th:class="help-block">Team Errors</span>
                        </div>
                        <div class="col-md-1"><label>vs</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" th:field="*{teams}">
                                <div>
                                <option value="">Select team</option>
                                <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}" th:selected="${team.id==idTeamB}? 'selected'">team B
                                </option>
                                </div>
                            </select>
                            <span th:if="${#fields.hasErrors('teams')}" th:errors="*{teams}"
                                  th:class="help-block">Team Errors</span>
                        </div>
                    </div>
                </div>
                <div th:class="form-group">
                    <label class="col-md-3 control-label">Result </label>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <input type="number" min="0" class="form-control" th:field="*{scoreTeamA}"/>
                        </div>
                        <div class="col-md-1"><label> - </label></div>
                        <div class="col-md-5">
                            <input type="number" min="0" class="form-control" th:field="*{scoreTeamB}"/>
                        </div>
                    </div>
                </div>

                <br/>
                <div class="pull-right">
                    <a class="btn btn-default" role="button"
                       th:href="@{/admin/games}">cancel</a>
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>
            <br/><br/><br/>
        </div>


    </div>
</div>

</body>
</html>