<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymelead/layout"
        layout:decorator="layouts/main">
>
<head>
    <title>Error</title>

</head>
<body>

<div layout:fragment="navbar-list">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/members/list">members</a></li>
        <li><a href="/teams/list">teams</a></li>
        <li><a href="/competition/show">competition</a></li>
    </ul>
</div>


<div layout:fragment="content">
    <div class="container">
        <br/>
        <br/>
        <div>
            <h1>Oops... something went wrong</h1>
            <p class="lead">Please navigate to the previous page with the browser back button</p>
        </div>
    </div>
</div>


</body>
</html>